[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Sample tutorial for Google Tekton
[access "refs/*"]
	owner = group user/Krishna Venkata (kvenkata986)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Krishna Venkata (kvenkata986)
	label-Verified = -1..+1 group user/Krishna Venkata (kvenkata986)
	push = group user/Krishna Venkata (kvenkata986)
	read = group user/Krishna Venkata (kvenkata986)
	rebase = group user/Krishna Venkata (kvenkata986)
	removeReviewer = group user/Krishna Venkata (kvenkata986)
	submit = group user/Krishna Venkata (kvenkata986)
[access "refs/heads/*"]
	create = group user/Krishna Venkata (kvenkata986)
	push = +force group user/Krishna Venkata (kvenkata986)
	pushMerge = group user/Krishna Venkata (kvenkata986)
	read = group user/Krishna Venkata (kvenkata986)
[access "refs/tags/*"]
	push = group user/Krishna Venkata (kvenkata986)
	push = +force group user/Krishna Venkata (kvenkata986)
